* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #facc15;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0c0d14;
    color: #ffffff;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding-inline: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1a1b28
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2vw;

    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: #aaadbe;
}

footer {
    padding: 1vh 3vw;
    background-color: #1a1b28;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    flex-grow: 1;

}

#banner {
    width: 100%;
    height: 25vh;

    overflow: hidden;
    border-radius: 1vw;
}

#banner img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #1a1b28;
    border: 1px solid #bbbbbb;
    border-radius: 1vh;
    padding: 1vh 1vw;
}

.jogos {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2vw;
    row-gap: 0.5vw;
}

.jogos h2 {
    grid-column: 1 / -1;
}

.jogos .botao {
    display: flex;

    padding: 1em;

    background-color: #facc15;
    color: #111827;

    border-radius: 1vh;

    text-decoration: none;
    font-weight: bold;

    transition: background-color 0.2s;
    margin-top: auto;
}

.botao:hover {
    background-color: #eab308;
}

.section-card {
    padding: 2em;

    background-color: #1f2937;
    border-radius: 1em;
}

.section-card ul {
    padding-left: 1vw;
}

/* Scroll menos horrivel Para Firefox (Padrão Moderno) */
* {
  scrollbar-width: thin;
  scrollbar-color: #999 #0c0d14; /* Primeiro o cursor, depois o fundo */
}   