body {
    background-color: lightblue;
}

p {
    color: #444;
    font-size: 18px;
}

h1 {
    color: red;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: green;
}

.destaque {
    background-color: yellow;
    font-weight: bold;
}

#topo {
    background-color: darkblue;
    color: white;
}

.caixa {
    background-color: white;
    border: 1px solid gray;
    padding: 15px;
    margin: 40px;
}