body {
    background-color: #f6f8fc;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding-top: 170px;
}

.menu{
    list-style: none;
    padding: 0;
}

.menu li{
    display: inline-block;
    margin-right: 16px;
}

.menu a{
    text-decoration: none;
    color: darkred;
    padding: 10px 16px;
}

.grade {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.etiqueta {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #C0392B;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
}

#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7A2E1E;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 100;
}

.botao {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.3s;
}

.botao:hover {
    background-color: #ddd;
}